
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,200;1,400;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-seri;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  
}

header {
 background-color:rgb(255, 61, 142);
 width:100%;
 position: fixed;
 z-index: 999;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 200px;
}
.logo{
  text-decoration: none;
  color: rgb(255, 196, 226);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}
.navigation a{
  color: rgb(255, 196, 226); 
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px ;
}
.navigation a:hover{
  color: antiquewhite;
}
/*comment */
/*section{
  padding: 100px 200px;
}*/


section{
  padding: 10px 100px;}
.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  /*pic////////////////////////////////////////////////////*/
  background-image: url("bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main-btn{
  color:rgb(255, 61, 142);
  background-color:antiquewhite ;
  text-decoration: none;
  font-size:1em;
  font-weight:500 ;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}
.main-btn:hover{
  color: antiquewhite;
background-color:rgb(255,61, 142) ;    
transform: scale(1.1);

}

.title{
 display: flex; 
 justify-content: center;
 color: rgb(255, 61, 142);
 font-size: 2.2em;
 font-weight: 800;
 margin-bottom: 30px;

}

/*extra */

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
/*.card{
  background-color: rgb(255, 196, 226);
  width: 21.25em;
  box-shadow: 0 5px 25px rgb(233, 146, 182);
  border-radius: 10px;
  padding: 25px;
  margin: 20px;
  transition: 0.7s ease;
}
.card:hover{
  transform: scale(1.1);
}*/
.icon{
  color: rgb(255, 61, 142);
  font-size: 8em;
  text-align: center;
}
.info{
  text-align: center;

}
.info .h3{
  color:rgb(255, 61, 142) ;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

